<?xml version='1.0' encoding="utf-8" ?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	package='com.seth.project' 
	android:versionCode='1' 
    android:versionName='1.0' >
    <uses-sdk 
		android:minSdkVersion="16"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application 
        android:allowBackup="false" 
        android:label="Game">
        <activity 
            android:name="com.seth.project.NativeLoader"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
			android:configChanges="orientation|keyboardHidden|screenSize" 
            android:screenOrientation="landscape"
            android:launchMode="singleTask" 
            android:clearTaskOnLaunch="true">
            <meta-data android:name="android.app.lib_name" android:value="project"/>
            <intent-filter>
                <action android:name='android.intent.action.MAIN'/>
                <category android:name='android.intent.category.LAUNCHER'/>
            </intent-filter>
        </activity>
    </application>
</manifest>
